@import '../../assets/scss/styles.scss';

.EndContactSection {
    display: flex; 
    justify-content: center;

    margin-top: 40px;
    margin-bottom: 40px;


    .EndContactSectionContainer {
        display: flex; 
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        
        width: 100%;
        box-sizing: border-box;

        @include sm {
            flex-direction: row;
        }

        

        @include lg {
            max-width: 900px;
        }
    
        @include xl {
            max-width: 1050px;
        }

        .contact-plea-end {
            
            text-align: center;
            margin-bottom: 30px;
            line-height: 30px;

            max-width: 90%;

            @include sm {
                max-width: 50%;
                margin-bottom: 0px;
            }

            @include md {
                line-height: 35px;
            }

            h1 {
                font-size: 20px;
                margin-bottom: 30px;
                overflow: hidden;
                
                strong {
                    position: relative;
                    overflow: hidden;
                    z-index: 0;
                    border-bottom: solid $primary-color 2px;
                }       

                @include md {
                    font-size: 27px;
                }
  
            }

            p {
                font-size: 16px;
                
                @include md {
                    font-size: 20px;
                }

                strong {
                    position: relative;
                    content: '';
                    padding: 2px 4px;
                    z-index: 0;
                    font-weight: 700;
                    
                    background: linear-gradient(to left, $off-white 50%, rgb(255, 238, 0) 50%) right;
                    background-size: 200%;
                    transition: .5s ease-out;
                }
            }
        }

        .btn-contact-end {
            margin-top: 20px;

            background-color: $off-white;
            padding: 23px;
            
            color: #e6120b;
            border: solid 2px #e6120b;

            background: linear-gradient(to left, $off-white 50%, #e6120b 50%) right;
            background-size: 200%;
            transition: all 0.5s ease-out;

            font-size: 15px;
            font-weight: 700;

            @include sm {
                margin-top: 0px;
            }

            @include md {
                font-size: 17px;
            }
        }

        .btn-contact-end:hover {
            background-position: left;
            color: $off-white;
        }
    }
    
}