@import '../../assets/scss/styles.scss';

.pageHome{
	display: flex;
	flex-direction: column;

	.slogan{
		display:flex;
		position:relative;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;

		background-image: url('../../assets/img/background.jpg');
		background-repeat: no-repeat;
        background-size: cover;
		background-position: center center;

		padding-top:80px;
		text-align: center;

		color: $off-white;

		@include lg{
			padding-top:50px;
		}

		a{
			color: $off-white;
		}


		.texts{

			h1{
				font-size: 30px;
				font-weight: 700;
				line-height:38px;

				@include lg{
					font-size: 45px;
					line-height:58px;
					text-shadow: 0 0 5px rgba(0, 0,0,0.65);
				}
			}
			h2{
				font-size: 20px;
				font-weight: 400;
				margin-top:16px;
				@include lg{
					font-size: 30px;
					text-shadow: 0 0 5px rgba(0, 0,0,0.65);
				}
			}

		}

		.button{
			display: block;
			margin-top:80px;
			background-color: $off-white;
			font-size: 20px;
			border-radius: 15px;
			padding: 17px 15px;
			color: $primary-color;
			font-weight: 700;
			border: solid 2px $off-white;

			&:hover{
				background-color: $primary-color;
				border-color: $primary-color;
				color: $off-white;
			}
		}

		.infos{
			font-family: "Titillium Web", sans-serif;
			margin-top:20px;
			padding-bottom:80px;
			padding-top:30px;
			background: linear-gradient(to top, rgba(12, 31, 40) 50%, rgb(12, 31, 40, 0) 100%);
			width:100%;

			@include lg{
				padding-bottom:50px;
			}

			h1{
				font-weight: 700;
                font-size: 30px;
			}
			a{
				display: block;
				margin-top:25px;

				@include lg{}
			}
			p{
				display: block;
				margin-top:25px;
				line-height:26px;
			}
		}

	}


	.entreprise{
		display: flex;
		flex-direction: column-reverse;

		background-color: $primary-color;
		color: $off-white;

		box-sizing: border-box;
		width: 100%;

		overflow: hidden;

		@include lg{
			flex-direction: row;
			justify-content: center;
			align-items: center;
			
			max-width: 900px;
			margin-left:auto;
			margin-right:auto;

			margin-top:70px;
			border-radius: 10px;
	
		}

		@include xl{
			max-width: 1050px;
			// height:460px;
		}

		.texts{

			padding:40px 21px;
			

			@include sm{
				padding:60px 21px;
			}

			h1{
				font-weight: 700;
                font-size: 30px;
				text-align: center;

				@include md{
					font-size: 34px;
				}

				@include rwd(1200){
					font-size: 38px;
				}
			}
			p{
				font-weight: 500;
				font-size: 17px;
				text-align: center;
				line-height: 30px;
				margin-top:20px;

				max-width: 360px;
				margin-left:auto;
				margin-right:auto;

				@include sm{
					margin-top:30px;

				}

				@include md{
					line-height: 34px;
					font-size: 19px;
				}


				@include xl{
					line-height: 40px;
					font-size: 20px;

					max-width: 440px;
				}

				strong {
					background-color: rgb(255, 238, 0);
					color: $primary-color;
					padding: 0px 2px;
				}
			}
		}

		.images{

			height:300px;

			margin-right: 0;
			padding-right: 0;

			width: auto;

			@include rwd(340){
				height:350px;
			}

			@include lg{
				width:350px;
				height:350px;
				margin-left:70px;
				padding:20px 0;
			}

			@include xl{
				width:400px;
				height:400px;
				margin-left:70px;
			}
			
			img{
				width:100%;
				height:100%;
				object-fit: cover;

			}			
		}
	}

	.whyChoose {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		margin-top: 70px;
		padding: 0 20px;

		color: $primary-color;

		h1 {
			font-weight: 700;
			font-size: 30px;
			text-align: center;

			@include md{
				font-size: 34px;
			}

			@include rwd(1200){
				font-size: 38px;
			}
		}
		ul {
			padding: 0;
			margin-bottom: 0;
			margin-left: 10px;
			margin-top: 60px;
			li {
				line-height: 22px;
				margin: 12px 0;
				font-weight: 500;
				font-size: 17px;

				&:before {
				content: "sss";
				color: rgba(255, 255, 255, 0);
				background-image: url('../../assets/img/svgs/arrow.svg');
				background-repeat: no-repeat;
				background-size: left bottom;
				margin-right: 3px;
				}

				@include sm{
					margin: 15px;

				}
				@include md{
					line-height: 27px;
					font-size: 19px;
				}
				@include xl{
					line-height: 30px;
					font-size: 20px;
				}
			}
		}
	}

	.services-offered {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 70px;
		margin-bottom: 40px;
		padding: 40px 0;
		width: 100%;
		box-sizing: border-box;

		

		color: $off-white;
		background-color: $secondary-color;
		

		@include lg {
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
			border-radius: 10px;
		}

		@include xl{
			max-width: 1050px;
			// height:460px;
		}

		h1 {
			font-weight: 700;
			font-size: 30px;
			text-align: center;
			margin-bottom: 60px;

			@include md{
				font-size: 34px;
			}

			@include rwd(1200){
				font-size: 38px;
			}
		}

		.services-items {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@include lg {
				flex-direction: row;
				width: 100%;
				max-width: 1200px;
			}
			.item {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: center;
				margin: 20px 0;

				color: $off-white;

				@include lg { 
					height: 150px;
					margin: 20px 30px;
				}

				svg {
					height: 50px;
					width: 50px;
					margin-bottom: 20px;
					@include md {
						height: 60px;
						width: 60px;
					}
					@include xl {
						height: 70px;
						width: 70px;
					}
				}
				p {
					text-align: center;
					line-height: 22px;
					font-weight: 500;
					font-size: 17px;
					@include md{
						line-height: 27px;
						font-size: 19px;
					}
					@include xl{
						line-height: 30px;
						font-size: 20px;
					}
				}
			}
		}
	}
}